[2018-05-10 02:00] billsacks opened #2 "Reference to disassociated pointer, model%inversion%powerlaw_c_inversion"
Tests with nag in debug mode die with this error:

[code]

pointing to this line:

https://github.com/ESCOMP/cism/blob/a2c7ce0c2a7aa49909252ed82ba2b2920604e700/libglissade/glissade_velo_higher.F90#L1075

Example test: `SMS_D_Ly1_P24x1.f09_g17_gl4.T1850G.hobart_nag`

[2018-05-10 02:08] billsacks opened #3 "Floating point exception computing flwafact"
I'm getting floating point exceptions when running in debug mode, pointing to this line:

https://github.com/ESCOMP/cism/blob/a2c7ce0c2a7aa49909252ed82ba2b2920604e700/libglissade/glissade_velo_higher.F90#L1982

It looks like the problem is that flwa can be 0, and you can't take 0 to a negative power.

Example tests that demonstrate this issue: `SMS_D.f09_g17_gl4.T1850G.cheyenne_gnu` and `SMS_D.f09

[2018-05-10 02:16] billsacks commented on #3
These deaths are in model initialization.

[2018-05-10 02:17] billsacks commented on #2
This death is in model initialization.

[2018-05-10 04:29] whlipscomb commented on #2
@billsacks, Please try the fix in the new branch lipscomb/bug_fixes

[2018-05-10 04:30] whlipscomb commented on #3
@billsacks, Please try the fix in the new branch, lipscomb/bug_fixes.

[2018-05-10 12:15] billsacks commented on #3
Fixed by ff3091c6

Thanks, @whlipscomb . Your commit fixed this and the other issue. I have brought your branch to master/develop and am restarting testing.

[2018-05-10 12:15] #3 closed

[2018-05-10 12:15] billsacks commented on #2
Fixed by ff3091c6

[2018-05-10 12:15] #2 closed

[2018-05-16 18:20] billsacks opened #4 "Add time_bounds to history files"
From @sherimickelson

[2018-06-20 20:41] billsacks opened #5 "Rework CISM's time management"
We'd like to rework CISM's time management, including:

- Improve specification of dt to allow more possible values

- Allow use of Gregorian calendar

- Switch to integer-based internal time representation to avoid accumulating roundoff errors

[2018-07-05 19:43] ekluzek opened #6 "Runtime error with nag6.2 compiler on hobart"
This problem comes in on hobart with the nag6.2 compiler. We didn't see this with the nag6.1 compiler.

This seems to mostly be for tests with DEBUG enabled.

Here's the runtime error message for /SMS_P48x1_D_Ld5.f10_f10_musgs.I2000Clm50Cn.hobart_nag.clm-default
[code]

[2018-07-05 19:58] billsacks commented on #6
Thanks, @ekluzek . I agree that this looks like a legitimate problem (https://stackoverflow.com/questions/7142233/fortran-passing-same-array-as-two-dummy-arguments-to-subroutine and https://software.intel.com/en-us/blogs/2009/07/10/doctor-fortran-in-ive-come-here-for-an-argument-side-2/). I'll take a look at this.

[2018-07-06 02:07] billsacks opened #7 "time dependent forcing applied at incorrect time in timestep"
_From @stephenprice on March 10, 2015 18:17_

In cism_driver/cism_front_end.F90, we have the option to read time dependent forcing fields from an input .nc file. Currently, we use this to read in an apply temperature, smb, and Dirichlet BC info (mask for where Dirichlet BCs are to be applied as well as the u and v vel fields to apply there). This capability is demonstrated in one supported test ca

[2018-07-06 02:07] billsacks commented on #7
_From @stephenprice on March 10, 2015 18:17_

@matthewhoffman please look over my description here and edit it as necessary.

[2018-07-06 02:07] billsacks commented on #7
_From @matthewhoffman on March 11, 2015 2:54_

@stephenprice , this looks good.  I'll add that the problem with velocity when reading forcing at the end of the time step is that the velocity field that was read from file clobbers the velocity field that was calculated by the model - which clearly is bad. :-1:

Another thought just crossed my mind - if the velocity values used by kinbcmask were in

[2018-07-06 02:09] billsacks opened #8 "additional testing of centered vs. upwided surface gradient calculations in Glissade dycore"
_From @stephenprice on March 23, 2015 21:12_

When using incremental remapping (or FO upwinding) for thickness evolution of idealized test cases (e.g. Halfar) checkerboard surface elevation patterns have been observed to develop when using a centered sfc elevation gradient calculation scheme. An "upwinding" sfc elev. gradient scheme was introduced and shown to alleviate the problem.

However, for

[2018-07-06 02:09] billsacks commented on #8
_From @DanFMartin on March 23, 2015 21:27_

For the idealized dome test case mentioned here, do you need to use
upwinded/one-sided gradients everywhere, or just at the ice margin?
(we've known for some time that we need to use one-sided differencing
for surface elevations at grounding lines, for example)

On 03/23/2015 02:12 PM, stephenprice wrote:

##

---

Dan Martin

[2018-07-06 02:09] billsacks commented on #8
_From @stephenprice on March 23, 2015 21:38_

@DanFMartin, the relevant one-side gradients mentioned for the Halfar test case are applied in the interior. There's a range of options for how the gradients are calculated at the margins, but I'm not clear if those are relevant here or not.

[2018-07-06 02:11] billsacks opened #9 "Linux (Ubuntu) build problems."
_From @jhkennedy on April 23, 2015 22:47_

CISM (dev and public) builds (with errors) on my Ubuntu systems. However, some of the test cases in the CISM dev branch do not run (detailed below).

_Tested on both Ubuntu 14.04LTS and 12.04LTS -- with fresh installs_

**Build output:**

[code]

**For a parallel build these tests work (run as serial and parallel [where applicable]):**
- Halfar
- glint-ex

[2018-07-06 02:11] billsacks commented on #9
_From @jhkennedy on April 23, 2015 22:59_

On a fresh Ubuntu 14.04LTS system (virtual machine), this is the script I am using to install the necessary dependencies:

[code]

I then install Trilinos as outlined in the CISM documentation.

And I install CISM using the `builds/linux-gnu-cism/linux-gnu-cism-cmake` script.

[2018-07-06 02:11] billsacks commented on #9
_From @jhkennedy on April 23, 2015 23:4_

**For LIVV**

The `reg_test` test cases (ijob_linux scripts  -- get it here: http://oceans11.lanl.gov/cism/livv/reg_test_default.tgz) now all run (I found the issue, was an issue with the job scripts not CISM).

Since, we are trying to sync up these LIVV tests with the tests in the CISM code base. I'll focus on the higher-order test cases that work (no sla

[2018-07-06 02:11] billsacks commented on #9
_From @stephenprice on April 23, 2015 23:9_

Hi Joe - to clarify, you are no longer seeing the problem with slap that we talked about earlier today?

[2018-07-06 02:11] billsacks commented on #9
_From @jhkennedy on April 23, 2015 23:12_

@stephenprice I don't think so. The problems I was having looked really similar to the parallel slab errors. But, I found an error in the `ijob_linux` scripts due to the reworking of LIVV (as I wrote this issue up) that took care of those problems.

So, the only issues I'm having now are with the tests detailed above.

[2018-07-06 02:11] billsacks commented on #9
_From @matthewhoffman on April 24, 2015 1:4_

@jhkennedy , I just pushed a branch matthewhoffman/fix_testcase_errors_ubuntu to work on these issues.  The fix for the slab test case is easy and is in 9e16db8.  (It was an error on all platforms, but since we've never blessed the slab test case, it has not been run regularly.)

I will look into the EISMINT errors next, although those look a bit myste

[2018-07-06 02:11] billsacks commented on #9
_From @jhkennedy on April 24, 2015 12:28_

@matthewhoffman Great! Thanks. Let me know that more info you need.

[2018-07-06 02:11] billsacks commented on #9
_From @matthewhoffman on April 24, 2015 18:11_

I see the exact same error on my Ubuntu machine running 14.04.

I spend about 2 hours trying to understand what is happening and it got me pretty deep into SLAP without seeing light at the end of the tunnel.  There has been some known problems with SLAP (or how we are calling it, more likely) for awhile.  Specifically, if you compile CISM with `-fbou

[2018-07-06 02:11] billsacks commented on #9
_From @stephenprice on April 24, 2015 18:14_

@matthewhoffman , unfortunately, I have no insight into anything that goes on inside of the SIA code (or at least the subroutines that are specific to that dycore).

[2018-07-06 02:11] billsacks commented on #9
_From @whlipscomb on April 24, 2015 18:25_

Hi Matt,

Thanks for the sleuthing and the fix.

A while back I tried to understand the logic of glide_thck_index and model%geometry%empty, and I found it pretty confusing.  Given that we have more pressing issues, I suggest that we consider the problem fixed for now.  We can always look at it later if/when we have time.

Bill

[2018-07-06 02:11] billsacks commented on #9
_From @matthewhoffman on April 24, 2015 18:35_

Ok thanks for the feedback.

@jhkennedy , when you've had a chance to check this works for you and your needs for LIVV, let me know and I will merge the branch into develop.

[2018-07-06 02:11] billsacks commented on #9
_From @jhkennedy on April 24, 2015 19:33_

@matthewhoffman it's much better now, but I'm still getting some errors on both my Ubuntu 14.04LTS, and the "clean" virtual machines of Ubuntu 12.04LTS and 14.04LTS.

These all now work:
- EISMINT-1 -- e1-mm.?.config
- EISMINT-2 -- e2.?.config
- higher-order/slab

These still do not:
- EISMINT-1 -- e1-fm.?.config

**e1-fm.1.config output:**

[code]

**e1-

[2018-07-06 02:11] billsacks commented on #9
_From @jhkennedy on April 24, 2015 19:38_

As for LIVV, LIVV wasn't running these FO test cases at all. With the fix for slab, I can incorporate all the higher-order test cases now (which we were mostly running). That will at least allow me to get the structure I want set up, and the LIVV workflow together.

Do we want to include these (working) FO test cases in LIVV as well? ( @stephenprice, @kev

[2018-07-06 02:11] billsacks commented on #9
_From @stephenprice on April 24, 2015 20:6_

@jhkennedy , @kevans32 at some point in the last week or two I sent an email out with a list of existing test cases we want to support and others we might want to add. Which test cases in particular are you referring to?

[2018-07-06 02:11] billsacks commented on #9
_From @jhkennedy on April 24, 2015 20:12_

@stephenprice yep, sorry, I forgot to pull that list out.

So then, everything is working for LIVV; working on the `e1-fm.?.config` tests would just be for CISM in general (since they are in the documentation as one of the first tests to run after an install).

[2018-07-06 02:11] billsacks commented on #9
_From @matthewhoffman on April 24, 2015 21:8_

@jhkennedy , thanks for catching the e1.fm.\* errors.  I looked into a bit and am not sure what to do next.  I've confirmed that there is indeed ice present and the code should therefore be attempting a SLAP solve when the error occurs (testing on my Ubuntu machine).  So perhaps my assumption that this error is only caused when there is no ice is not

[2018-07-06 02:11] billsacks commented on #9
_From @whlipscomb on April 27, 2015 14:33_

@matthewhoffman, I agree that it's troubling to have such a basic test case failing, and also that digging into SLAP isn't a good use of your time right now.

I talked last week with @jhkennedy, and we're planning to test the new LIVV on my Mac after the ACME meeting.  Maybe at that point I could try this test myself and see if I reproduce the error.  I

[2018-07-06 02:11] billsacks commented on #9
_From @matthewhoffman on April 27, 2015 15:15_

@whlipscomb , that sounds fine with me.  Note that I do not see this error on my Mac - only on the Ubuntu machine in my office.

[2018-07-06 02:11] billsacks commented on #9
_From @stephenprice on April 27, 2015 15:28_

@whlipscomb  , yes fine with me too. I agree that we probably don't want to spend any significant amount of time trying to track down slap errors. At some point I worry that maintaining backward compatibility with the serial SIA code is going to drain more of our resources than it is worth.

[2018-07-06 02:11] billsacks commented on #9
_From @whlipscomb on April 27, 2015 15:47_

If the problem is seen only on Ubuntu machines, I'm not sure I can be as helpful (unless @matthewhoffman wants to loan me his laptop for a couple of days).  So I agree this should go on the back burner.

[2018-07-06 02:12] billsacks opened #10 "If no problem type is specified in .config file, "EISMINT" error occurs"
_From @matthewhoffman on July 28, 2015 15:23_

If no problem type is specified in the .config file, CISM aborts with:
`FATAL ERROR : No EISMINT forcing selected`

There is no documentation for how a user should set up a user-defined simulation that is not one of the canned test cases.  The modules that parse the .config file look for different domain types as a config section in square brackets.

[2018-07-06 02:12] billsacks commented on #10
_From @whlipscomb on July 28, 2015 23:11_

@matthewhoffman , I've never liked this old Glimmer feature.  My preference would be (1): If no problem type is supplied by the user, then the model runs on without doing anything special.

[2018-07-06 02:12] billsacks commented on #10
_From @DanFMartin on July 29, 2015 4:52_

I'd concur with Bill -- One of the issues we ran into when coupling CISM
to BISICLES and running our own problems was figuring out what the
problem type needed to be when we were setting up our own problems. At
some point in the process, things changed under us, and I had to just
try various problem types until I found one which worked again.

A generic pr

[2018-07-06 02:14] billsacks opened #11 "empty 'results' file created during each run"
_From @matthewhoffman on August 20, 2015 16:19_

It looks like the 'results' file gets created in libglimmer/writestats.c, line 95. I'm not sure what this code is doing but I'm pretty sure we aren't using it.

_Copied from original issue: E3SM-Project/cism-piscees#41_

[2018-07-06 02:14] billsacks commented on #11
_From @jhkennedy on August 20, 2015 17:52_

When I run any of the test cases on my linux machine, the `*.results` file typically looks like:

[code]

(I cleaned up the white space above -- it's not near as clear in the file)

The results file gives us the run timing information for the LIVVkit performance metrics when CISM was run on a mac (i think) or linux box. If CISM is build with the gptl tim

[2018-07-06 02:14] billsacks commented on #11
_From @matthewhoffman on August 20, 2015 19:30_

Hmm, that's interesting.  I did think the results file contained some sort of summary information about the run, but on my machine it is an empty file.

The version number used to be pulled in correctly in the old autotools build, but there was some technical reason why it was hard to get this to happen when we moved over to cmake.  I don't remember

[2018-07-06 02:14] billsacks commented on #11
_From @worleyph on August 20, 2015 19:42_

The "results file" logic is disabled when using GPTL. It works poorly for parallel runs (information is difficult to interpret, and is pretty meaningless in my opinion), and can be VERY expensive. I don't know why it would still try to write a results file though. It didn't used to.

[2018-07-06 02:14] billsacks commented on #11
_From @jhkennedy on August 20, 2015 19:43_

Thanks @worleyph. I've never seen it write a results file when using GPTL, are you seeing that @matthewhoffman? Or is it no GPTL, but also empty?

[2018-07-06 02:14] billsacks commented on #11
_From @stephenprice on August 20, 2015 20:5_

@jhkennedy , my build is w/o GPTL and the file is also empty.

[2018-07-06 02:14] billsacks commented on #11
_From @jhkennedy on August 20, 2015 20:7_

Well, that is interesting. Both macs I assume, @matthewhoffman and @stephenprice? @arbennett, is the results file empty for you on mac?

[2018-07-06 02:14] billsacks commented on #11
_From @whlipscomb on August 20, 2015 20:14_

@jhkennedy , I can confirm that for a Mac build without gptl, my results file is empty. I think this is a leftover from serial/automake/Glimmer days. I'd be happy to have it go away if someone wants to take that on.

[2018-07-06 02:14] billsacks commented on #11
_From @jhkennedy on February 3, 2016 15:32_

LIVV is undergoing an update and will no longer be processing the `results` files (GPTL only), so this should be removed entirely from the CISM source.

I've assigned this to myself, and will take care of it in my BATS-update branch.

[2018-07-06 02:15] billsacks opened #12 "Are changes needed to support a Gregorian (leap year) calendar?"
_From @billsacks on April 8, 2016 1:25_

For now this is more of a question than an issue... we can change it into an issue if it seems warranted:

Do people feel that any changes are needed for CISM to support a Gregorian (leap year) calendar? Typically CESM operates with a NOLEAP calendar, but some applications use it with a Gregorian calendar.

I'm pretty sure that CISM currently assumes a 365-

[2018-07-06 02:15] billsacks commented on #12
cc @whlipscomb @JeremyFyke @matthewhoffman

[2018-07-06 02:15] billsacks commented on #12
_From @whlipscomb on April 8, 2016 3:4_

HI Bill,

I’m not worried about having inaccurate sea level projections or model diagnostics on account of a 0.1% error in the length of the year.  But I wonder if exact conservation could be broken if, for example, CLM computes a given SMB (in kg/m^2/s) over a 366-day year, and then CISM applies that SMB over a 365-day year.  Maybe the coupler manages thin

[2018-07-06 02:15] billsacks commented on #12
_From @matthewhoffman on April 9, 2016 2:20_

@billsacks , thanks for bringing this up.  Like @whlipscomb said, I'm not concerned about the small discrepancy between Gregorian and Gregorian_no_leap, except if conservation is an issue.  If it is and we need to add flexibility, I would vote for keeping it as simple as possible - e.g., a run-time configurable scyr variable or something like that.  I

[2018-07-06 02:15] billsacks commented on #12
Thanks for your thoughts, @whlipscomb and @matthewhoffman . I'll leave this open for now, and plan to come back to it later.

[2018-07-06 02:15] billsacks commented on #12
_From @JeremyFyke on April 11, 2016 14:30_

Hi Bill,

I am trying to imagine when a Gregorian calendar would be preferable to a simpler NOLEAP calendar.  Perhaps if one was doing a multi-millenial year run where orbitals were varying, the loss of 5 hours 48 minutes 46 seconds (difference between a NOLEAP and a Gregorian year, which Google tells me is itself 26 seconds off the true solar year) coul

[2018-07-06 02:15] billsacks commented on #12
_From @stephenprice on April 11, 2016 14:32_

I'd argue for whatever is the minimum that needs to be done so this doesn't become a problem. Overhauling time stepping / time keeping in general sounds like a lot of work that we don't really have the scope for right now.

[2018-07-06 02:15] billsacks commented on #12
@JeremyFyke : It's not so much that we'd want to run with a Gregorian calendar ourselves, but rather that others want to do it. The main reason I'm aware of is when you're doing an application that involves direct comparisons with data, such as data assimilation, in which case you don't want to simply exclude every Feb 29.

[2018-07-06 02:15] billsacks commented on #12
_From @JeremyFyke on April 11, 2016 15:53_

@billsacks - right, I agree for data assimilation experiments, for sure.  But: I don't personally see a coupled CESM application that includes both dynamic ice sheets and data assimilation (or more generally, year-on-year comparisons to data, instead of comparisons of averaged climatologies).  That thought process led to the idea of simply killing the mo

[2018-07-06 02:15] billsacks commented on #12
This is an issue within CESM: http://bugs.cgd.ucar.edu/show_bug.cgi?id=2507

We probably need to do a complete overhaul of CISM's time manager at some point, for this and other reasons.

[2018-07-06 02:15] billsacks commented on #12
Gunter Leguy and I just discussed this. Two options we can see are:

1. Give CISM a more sophisticated time manager / calendar handling

2. Add an argument to a top-level CISM subroutine that allows the driver to pass in the current year's length

However, either of these will probably require some pretty significant changes, in order to change some things that used to be constant to instead be ti

[2018-07-06 02:15] billsacks commented on #12
_From @gunterl on September 13, 2017 17:14_

I talked followed up with Bill Lipscomb on this issue. We'd (idealy) like
to:

   1. Align time management in CISM on what other model components are
   using.
   2. Allow a more dynamical time step (for leap years).
   3. Modify the constraint on the time step dt. Problems might occur if dt
   is either different from a fraction of 1 or different from

[2018-07-06 02:15] billsacks commented on #12
I think CISM is the only component whose time step is longer than 1 day. Other components have time steps that divide evenly into a day, so on a leap year they simply run more time steps. I agree that this will require some careful consideration for CISM. My initial inclination is that it probably makes sense to use a slightly longer time step on leap years, which is inconsistent with other model

[2018-07-06 02:15] billsacks commented on #12
_From @jhkennedy on September 14, 2017 9:13_

One benefit of removing the calendar assumptions, or at least isolating them to a module, is that it would make implementing adaptive time stepping much easier.

Post-CISM2 release, it might be worth adding that as a goal to the time-stepping clean up, which shouldn't require too much additional work, and might make the clean up effort more (scientific

[2018-07-06 02:15] billsacks opened #13 "with evolve_ice turned off, beta_internal differs on restart"
_From @billsacks on August 9, 2016 18:21_

This is a low priority issue, but @whlipscomb suggests that we track it so that we can look into it at some point.

In my testing of the most recent code within CESM, I discovered that, when I turn ice evolution off (evolve_ice = .false.), restart runs fail due to differences in the beta_internal field when running with glissade. (They also fail due to di

[2018-07-06 02:16] billsacks opened #14 "Remove SLAP at some point"
_From @billsacks on August 9, 2016 22:7_

SLAP is old code that causes problems, particularly with the NAG compiler. We'd like to remove it at some point - once we have removed glide from CISM.

This won't happen in the immediate future, but I'm opening this issue to keep track of specific things that should be done once we can remove SLAP.

_Copied from original issue: E3SM-Project/cism-piscees#6

[2018-07-06 02:16] billsacks commented on #14
Once we remove SLAP, we can remove this block from cime_config/cesm/machines/config_compilers.xml:

[code]

(added in https://github.com/ESMCI/cime/pull/361)

[2018-07-06 02:17] billsacks opened #15 "DIVA is inaccurate when flwa varies strongly vertically"
_From @matthewhoffman on October 4, 2016 20:33_

The DIVA and BP velocity solvers calculate quite similar results for standard test cases (e.g. ISMIP-HOM), but recent testing has revealed that they generate quite different results when flwa varies significantly vertically.

Here is an example of two runs with identical setup except for which solver is used:
![screen shot 2016-10-04 at 11 05 27 am]

[2018-07-06 02:17] billsacks commented on #15
_From @gunterl on October 4, 2016 20:46_

Hi Matt,

Thank you for sharing these results, it's nice to see more work is done
using more dycores. So far all the MIPS have been focused on obtaining more
knowledge about the effect of basal friction law on ice sheet dynamics and
ice has been considered to be isothermal. Just out of curiosity, where are
you measuring the velocity that create these plots

[2018-07-06 02:17] billsacks commented on #15
_From @matthewhoffman on October 4, 2016 23:4_

@gunterl , thanks for the feedback.  Yes, this was interesting to discover under a more realistic configuration and seems like an important detail for practical application.

My model domain is very simple.  Here is a longitudinal profile of thickness (this is a "plastic" glacier shape where Tau_d=10^5 Pa everywhere):
<img width="653" alt="screen sho

[2018-07-06 02:17] billsacks commented on #15
_From @gunterl on October 5, 2016 17:9_

Hi Matt,

Thanks for continuing the conversation. My next question is if your test
case is a marine terminated glacier? It doesn't look that way at a first
glimpse. In which case have you tried to run SIA as well and see how it
compares to DIVA? This would also be interesting to see.

On Tue, Oct 4, 2016 at 5:04 PM, Matt Hoffman notifications@github.com
wro

[2018-07-06 02:17] billsacks commented on #15
_From @gunterl on October 5, 2016 17:16_

Or SSA for that matter?

On Tue, Oct 4, 2016 at 5:04 PM, Matt Hoffman notifications@github.com
wrote:

[2018-07-06 02:17] billsacks commented on #15
_From @matthewhoffman on October 5, 2016 20:14_

No, this was totally grounded.  I have not tried any other solvers on it.  The specific setup was using the Schoof basal friction law with a prescribed time series of effective pressure.  There was significant amounts of both sliding and deformation.  It was kind of an ad hoc setup that I was using for something else, and I stumbled onto the problem

[2018-07-06 02:17] billsacks commented on #15
_From @gunterl on October 5, 2016 20:50_

Hi Matt,

So I believe C (the powerlaw coefficient from Schoof's law) is spatially
varying then, right? Or are you using something proportional to effective
pressure somewhere else?

On Wed, Oct 5, 2016 at 2:14 PM, Matt Hoffman notifications@github.com
wrote:

[2018-07-06 02:17] billsacks commented on #15
_From @matthewhoffman on October 5, 2016 21:39_

In my test, the Coulomb friction coefficent C is a constant, but effective pressure is a time varying 2d field that came from my subglacial hydro model.

I don't think any of that is relevant to producing the inaccurate DIVA velocities - I think that is all due to a depth-varying temperature field.  So I'd suggest we start with something like no sli

[2018-07-06 02:17] billsacks commented on #15
_From @gunterl on October 5, 2016 21:49_

Yes I agree. I was just trying to get a better sense of the dynamics.

On Wed, Oct 5, 2016 at 3:39 PM, Matt Hoffman notifications@github.com
wrote:

[2018-07-06 02:17] billsacks commented on #15
_From @DanFMartin on October 5, 2016 23:46_

I agree -- Let's start with a moderate beta and go from there. We can add complexity if needed later.

Sent from my iPhone

[2018-07-06 02:17] billsacks commented on #15
_From @matthewhoffman on October 25, 2016 22:31_

I happened on this discussion in a Doug Brinkerhoff paper:

Brinkerhoff, D. J., and J. V Johnson (2015), Dynamics of thermally induced ice streams simulated with a higher-order flow model, J. Geophys. Res. Earth Surf., 120, doi:10.1002/2015JF003499.Received.

[2018-07-06 02:17] billsacks commented on #15
_From @whlipscomb on October 25, 2016 22:58_

@matthewhoffman, Thanks for the lead.  I'll re-read the paper and follow up with Doug or Jesse if needed.

[2018-07-06 02:17] billsacks opened #16 "Come up with a way to shorten long lines that reference __FILE__"
_From @billsacks on September 23, 2017 12:18_

The pgi compiler enforces a line length of (I think) 264 characters after doing macro expansion. This can cause problems for lines using the `__FILE__` macro, because this expands to the absolute path to that file. This was causing problems in CESM for some automated tests that had long paths to the bld directory. I have fixed that problem with a cime

[2018-07-06 02:17] billsacks commented on #16
_From @worleyph on September 23, 2017 22:11_

Hi @billsacks , see also ACME issue #548 . It would be nice to have a consistent solution across all components. Would just using __FILENAME__ address this issue? No one was supportive (or at least they do not comment on) this suggestion in #548.

[2018-07-06 02:17] billsacks commented on #16
@worleyph As far as I know, `__FILENAME__` is not a standard macro. For example, see https://gcc.gnu.org/onlinedocs/cpp/Standard-Predefined-Macros.html . If you know that this is a standard, universally-supported macro, I'd be very interested to know it, since that would certainly help us out!

[2018-07-06 02:17] billsacks commented on #16
_From @worleyph on September 24, 2017 2:7_

I know next to nothing ... so this is probably the reason no one picked up on the suggestion. Too bad - it seems like it would be useful, and at the time I made the suggestion I thought that it was available on at least one of our target systems with one of our compilers. Thanks for the response, and good luck finding a real solution. I run into this all

[2018-07-07 23:20] #6 closed

[2018-08-16 20:37] billsacks commented on #5
Mariana Vertenstein recommends that it's worth considering using the ESMF time manager.

[2018-08-17 15:14] billsacks commented on #4
From @sherimickelson

Thank you, Sheri!

It's probably still good if we do this at some point, but Sheri's help makes this not time-critical.

[2018-12-18 22:01] billsacks opened #26 "Non-compliance with Fortran standard in SLAP"
I'm not sure if this is worth fixing (see #14), but @grnydawn points out:

Within SLAP, from a quick search, I see lines like this in xersla.f but not in other files: From `git grep -n 'format *('`:

[code]

 @grnydawn, did you see other instances of this?

[2018-12-19 13:11] billsacks commented on #26
From @whlipscomb

@Katetc I'm going ahead and assigning this to you, if that's okay with you. Not super critical, but it should be mainly a matter of making sure we've tracked down all problem statements, fixing them as per @grnydawn's suggestions, then testing the build via the test suite.

[2018-12-19 13:14] billsacks commented on #14
From @whlipscomb

I'm going to keep this issue open, though, because SLAP is really a problematic piece of code that is non-standard-compliant. So it would be great if we could eventually replace it with something more modern and standard-compliant.

[2018-12-19 13:44] whlipscomb commented on #14
I just did a quick web search and found something called DLAP:
https://people.sc.fsu.edu/~jburkardt/f_src/dlap/dlap.html

I'm wondering if DLAP is intended to be the Fortran90 successor of SLAP.  At some point we could look at it more closely, and see if it contains standard-compliant code that could be substituted for SLAP.

[2019-05-14 02:33] billsacks commented on #26
Another issue was brought to my attention by @jedwards4b (who in turn got this from a colleague at IBM):

@Katetc I think this is worth dealing with sooner rather than later, since it's causing problems and should be easy to resolve.

[2020-10-06 17:26] jedwards4b opened #32 "libglissade IO issues"
l've been trying to clean up cesm IO issues and found that libglissade does not use the normal
cesm logging mechanism and instead does print * for log messages.
print * should be replaced with write(stdout, *) throughout this library.

[2020-10-06 19:34] gunterl commented on #32
Hi Jim,

I'll talk to Bill about this and get back to you.

Thanks

Gunter

On Tue, Oct 6, 2020 at 11:27 AM jedwards4b <notifications@github.com> wrote:

--
Gunter Leguy, Ph.D
(he/him)
Project Scientist
National Center for Atmospheric Research
cell: (575) 418 1021
desk: (303) 497 1790

[2020-10-06 21:30] whlipscomb commented on #32
@jedwards4b, How soon do you need this to happen?  This is a straightforward change, but it touches a lot of code and could create some conflicts between the main trunk and various development branches.

Adding @Katetc as well as @gunterl to the conversation.

[2020-10-06 21:32] jedwards4b commented on #32
It's not urgent, but it would be a nice cleanup.  Thanks for considering.

[2020-10-06 21:35] whlipscomb commented on #32
@jedwards4b, This is definitely something we can do.  @gunterl and I are wrapping up a couple of papers now.  Once that's done, we're planning to do some cleanups and mergers, and we'll add this to the list.

[2020-11-11 16:58] billsacks opened #33 "Encapsulate module-level data in derived types, for parallel module and maybe others"
To support multiple ice sheet instances (e.g., Greenland & Antarctica in a single simulation), we can't have module-level data; instead, data need to be encapsulated in instances of a derived type. This is mostly already the case. The main – and possibly only – exception is the parallel module (own_ewn, own_nsn, and many others).

In April, 2015, @whlipscomb said:

@whlipscomb has agreed to take t

[2021-08-25 23:45] billsacks opened #39 "For Antarctica simulations in CESM, SMB can accumulate in the ocean"
I noticed that, in some of my Antarctica tests in CESM, SMB accumulates in areas that are in the ocean. I have noticed this in an I compset test that uses very coarse land resolution (10 deg x 15 deg: `/glade/scratch/sacks/ERS_Vnuopc_Ly3.f10_f10_ais8_mg37.I1850Clm50SpGa.cheyenne_intel.20210811_223534_2a9bfb`). It's possible that this problem won't arise in more realistic production resolutions (it

[2021-08-30 23:36] billsacks commented on #39
@whlipscomb - Okay, thanks, I'll make that simple change shortly. Regarding your other questions:

That makes sense to me.

For CTSM, we put fully spun-up files in the inputdata repository, because this is what gets pointed to out-of-the-box so that people can run with a spun-up land and not need to do the expensive and somewhat tricky spinup themselves. These spun-up files are roughly 1 GB in siz

[2021-09-01 22:56] billsacks commented on #39
As I discussed with @whlipscomb by phone this afternoon, it didn't work to change the conditional in `is_in_active_grid` to just be `usrf >= 0` instead of `usrf > 0`: All ocean points have usrf == 0, so this change made the icemask equal to 1 everywhere, which is not what we want.

@whlipscomb had some thoughts about how to handle this, such as checking `usrf > 0 .or. topg >= 0`, but since we want

[2021-09-01 23:04] billsacks opened #41 "Glad's is_in_active_grid is slightly inconsistent with logic elsewhere in CISM"
This is a spin-off from #39 . I noticed that the conditional that determines the icemask in `is_in_active_grid` checks `usrf > 0`. But apparently some code elsewhere in CISM treats points with topg exactly equal to 0 as land. So, for consistency, is_in_active_grid should also consider these points with topg exactly equal to 0 to be land, and thus within the ice mask.

As discussed in #39 , this in

[2021-09-01 23:10] billsacks commented on #41
After changing this, a good sanity check that it is correct is: when running the CISM standard testing (aux_glc tests in the CISM-wrapper test suite), answers should change, but only (initially) in a small number of grid cells: those with topg exactly equal to 0.

One way to confirm that we aren't getting inadvertent changes elsewhere could be: create a temporary input file where grid cells with t

[2021-09-02 00:07] whlipscomb commented on #41
@billsacks – I like your suggestion with the temporary input file.

[2021-09-03 19:47] whlipscomb commented on #39
@billsacks and @gunterl – I just sent a detailed email.  Here, I'd like to summarize my understanding of where we are and ask some questions.
* Bill S. is now working with an input file that has several unnecessary fields, some of which aren't defined over the whole grid because they came from a run with compute_blocks = 1.  At this stage, we want to run with compute_blocks = 0.
* We can either (1

[2021-09-03 19:52] billsacks commented on #39
Thanks for your thoughts on this @whlipscomb . For the work I'm doing now, all I really need is something that can run for a few years and give results that aren't complete garbage. So probably any of (1), (2a) or (2b) will work. If you feel like it's worth the time to go ahead with (2a) or (2b) now, I can wait for those. But if you have other higher priority things you'd like to be doing now, I t

[2021-09-03 20:18] whlipscomb commented on #39
@billsacks, I suggest (2a).  Earlier this week, I was thinking (1) because I didn't want to hold you up.  But now I'm thinking that we've never run the model with compute_blocks = 0 after reading input fields from a run with compute_blocks = 1 (nor would we, in practice).  This seems a bit dangerous – we might spend time tracking down errors that result from an artificial configuration.  I can wor

[2021-09-03 20:58] whlipscomb commented on #39
@billsacks, To get you going quickly (I hope), please look at this directory: /glade/p/cesm/liwg_dev/lipscomb/cism_antarctica/stage_cism_spinup

I'm using an input file that @gunterl created for ISMIP6 Antarctic spin-ups:
ISMIP6_Antarctica_8km.bedmachine2.nc

This config file is similar to what we used for ISMIP6, with a few updates to account for recent code changes:
ismip6.config.init

To make s

[2021-09-03 23:43] billsacks commented on #39
@whlipscomb and @gunterl - This new file (ISMIP6_Antarctica_8km.bedmachine2.nc) has lat and lon values that differ by more than just roundoff from the file we had been using before (the files in /glade/p/cesmdata/cseg/inputdata/glc/cism/Antarctica). Can one of you help reconcile this? Ideally the new file would use the same grid as the original one to avoid needing to update the mesh file pointed

[2021-09-04 01:01] whlipscomb commented on #39
@billsacks, I will defer these questions to @gunterl.  What you're calling the 'new' file was actually made some time ago for ISMIP6 simulations, and what you're calling the 'old' file may be a file for which Gunter computed lat and lon more recently.  My guess would be that the 'old' values are the ones we want, but Gunter can confirm.

[2021-09-04 02:16] billsacks commented on #39
@whlipscomb - As I started to compare the config file you pointed me to with what comes out of the box, I remembered that this is tricky because there are quite a few intentional differences between what we use in CISM-in-CESM vs. these standalone configurations, which I spent a while going through a few months ago. So instead I dug up the config file you pointed me to a few months ago, which I us

[2021-09-06 14:50] whlipscomb commented on #39
@billsacks – Thanks for looking carefully at the new config file.  Let me respond to each point:

* temp_init = 3:  The namelist comment is not quite accurate.  We can get an advective-diffusive profile with temp_init = 3 if either acab or smb is present in the input file.  (The only difference between acab and smb is the units.)  So we should modify the comment.
* In the new config file, I set ad

[2021-09-06 15:21] billsacks commented on #39
Thanks @whlipscomb - I'll make those changes soon. One more question about the inversion_* parameters: Is it safe to change the defaults for both gris & ais (which would be slightly easier), given that we use which_ho_cp_inversion and which_ho_bmlt_basin_inversion = 0 by default for gris? Or should we maintain the old default values for these inversion_* parameters for Greenland?

[2021-09-06 17:09] whlipscomb commented on #39
@billsacks – Yes, it's OK to change the defaults for both ice sheets.  I haven't run Greenland with bmlt_basin inversion, but for Cp inversion the same parameters that work for the AIS should work for the GrIS.

[2021-09-09 03:18] gunterl commented on #39
Hi @billsacks, sorry for the delay with this. I am not sure what happened
to the older file and its lat lon (my guess given the meta data is that
they got interpolated from higher resolution? It's been a while). I added
an updated file with the corrected lat-lon that coincide with the ones in
the previous files. It is located here:
/glade/p/cesmdata/cseg/inputdata/glc/cism/Antarctica/
ISMIP6_Antar

[2021-09-09 05:48] billsacks commented on #39
Thanks for your recent input, @whlipscomb and @gunterl . I have started testing with the new init file and config settings.

[2021-09-09 05:50] billsacks commented on #39
Changes are here: https://github.com/ESCOMP/CISM-wrapper/pull/62

[2021-09-14 12:56] billsacks commented on #39
With the new Antarctica init file, the problem that started this issue is fixed. I will make a CISM-wrapper tag with this change shortly.

[2021-09-14 22:31] #39 closed

[2021-10-05 13:29] billsacks commented on #33
Based on the fact that a multiple ice sheet case seems to be working now, this seems to be done. Thanks, @whlipscomb !

[2021-10-05 13:29] #33 closed

[2021-11-16 22:15] jedwards4b opened #47 "SLAP issue with cce (cray compiler)"
A runtime error is generated in libglimmer-solve/SLAP/xersla.f with the cce/11.0.2 compiler.

A fix is to change dimension messg(nmessg) to be
character*(*)  in the file xersla.f

[2021-11-16 22:53] whlipscomb commented on #47
@jedwards4b – As you may remember, the SLAP code isn't something we actively develop.  It's legacy code that we carry around because it can be useful for testing new solvers in standalone CISM.  We've talked about dropping it, in part because of issues like this.

For now, I'd suggest that we make this one fix and check it into the main branch.  In the longer term, maybe we should modify the code

[2021-11-17 21:05] billsacks commented on #47
@whlipscomb sounds reasonable. See also https://github.com/ESCOMP/CISM/issues/26 for some other minor SLAP issues that should be fixed, and https://github.com/ESCOMP/CISM/issues/14 for thoughts on removing SLAP.

[2021-11-18 03:01] whlipscomb commented on #47
In the short term, I'll ask @Katetc to do a quick survey to find and fix the problematic lines of code in SLAP, and check the changes into the main branch.  In the long term, I'll plan to remove SLAP from the CESM build.  I'm sorry this remains an issue.

[2021-11-18 16:01] Katetc commented on #47
Sounds good to me! This should be pretty straight-forward.

[2021-12-11 22:02] ekluzek opened #49 "Some python files have python2 type style statements"
I found this running the python reformatter on all of CTSM telling it to target python-3.7 and it pointed out the following files have python 2 type print statements so wouldn't work with python-3. Fixing it would be simple just changing lines
with

print "thing"

to

print( "thing" )

so the fix is straight-forward.

components/cism/source_cism/tests/dome/netCDF.py:
components/cism/source_cism/te

[2021-12-12 03:17] gunterl commented on #49
Hi Erik,

Yes we are aware of this and we will take care of this soon. The print
statements are not the only ones, there are some config parser calls as
well that need to be checked.
Is this a pressing issue? If so I can take care of it next week. Please
assign this issue to me.

Thanks

Gunter

On Sat, Dec 11, 2021 at 3:02 PM Erik Kluzek ***@***.***>
wrote:

--
Gunter Leguy, Ph.D
(he/him)
Project

[2021-12-12 03:27] ekluzek commented on #49
@gunterl OK I assigned it to you as asked. From my perspective this isn't a pressing issue as I know of no problems with this.  If any of this python code is run with python3 it will fail, so it could be important for that reason. It looks like most of these are for tests so might not be regularly run. python2 is no longer supported, it's still around on some machines however, so you can sometimes

[2022-03-31 02:18] billsacks commented on #12
I imagine that the resolution of https://github.com/ESCOMP/CISM-wrapper/issues/75 will likely require a conversion from common_years to days that will need to be revisited when we want to support a Gregorian calendar.

[2022-04-20 14:57] jedwards4b opened #53 "cesm build of cism is very slow"
CISM is one of the slowest builds in a CESM BMOM case.
I clocked 409 s on cheyenne in case PFS.ne30pg3z58_t061.B1850MOM.cheyenne_intel

[2022-04-20 16:23] billsacks commented on #53
Thanks for opening this issue @jedwards4b . I have noticed this as well, mainly / only with the intel compiler (gnu build times are fast).

I noticed this got worse about a year ago:

- From cism2_1_78: CISM build time was 182 seconds

- From cismwrap_2_1_79: CISM build time was 378 seconds

[2022-04-20 16:37] whlipscomb commented on #53
@jedwards4b and @billsacks, thanks for looking at this.  Adding @Katetc to the thread.  I'd very much like to identify and fix the problem.  I usually use the gnu compiler for code development because intel is so slow.

What's the best way to approach the issue?  Are there some general rules about code structures to avoid?  Or good ways to identify the offending procedures or lines of code?

[2022-04-20 18:00] billsacks commented on #53
I don't have any good strategies for approaching this. I would probably start by identifying the offending file(s) by looking at the build time of each file. I'm not sure if there's a way to get build time information for each file in the build log (@jedwards4b do you know?); if not, you could set GMAKE_J=1 then watch the build log output and see if it stalls out on a file. Assuming you can identi

[2022-04-20 20:16] jedwards4b commented on #53
So if you look at the timestamps of the object files produced I think you can get some idea of what is going on:
For example this build started at 13:13 as evidenced by the timestamp of the Filepath file:
-rw-r--r-- 1 jedwards ncar      342 Apr 20 13:13 Filepath

and ended at 13:20 with the nuopc cap file
-rw-r--r-- 1 jedwards ncar    76424 Apr 20 13:20 glc_comp_nuopc.o

It looks like most of the

[2022-04-20 22:46] Katetc commented on #53
Thanks for pointing this out guys. I've been looking at it this afternoon (starting to have more time for land ice work!) and I do see 4 minutes or so spent building glide_io.F90. This file is auto-generated at build time, but that doesn't actually seem to be the slow part. The slow part is the actual compiling of the file. Now, I know a big difference between cism2_1_78 and cismwrap_2_1_79 was th

[2022-04-21 02:50] whlipscomb commented on #53
@Katetc, Nice sleuthing.  If you have time tomorrow, let's follow up and talk about whether we can get the same functionality without the c-def variables.

[2022-04-21 13:28] jedwards4b commented on #53
I would be surprised if the cpp macros were the cause of the slowdown.

[2022-04-21 13:43] whlipscomb commented on #53
@jedwards4b, is there another possible explanation?

[2022-04-21 14:34] jedwards4b commented on #53
The file glide_io.F90 is autogenerated, but that step happens very quickly.  It is the fortran compile of the autogenerated file that is taking so long.    I timed it at 4:47 with -O2 and  4:14 with -O0.   Subroutine glide_io_create is some 7000 lines.

[2022-04-21 16:27] whlipscomb commented on #53
@jedwards4b, Indeed it's a long file, but there are other big files in CISM that compile in a few seconds.  I'm wondering if there are specific structures in the autogenerated file that trip up the Intel compiler (but which the gnu compiler, for whatever reason, handles more efficiently).  If we can identify those structures, then we may be able to modify the autogenerate script to do things diffe

[2022-04-21 16:47] whlipscomb commented on #53
Here's another possibility.  At the end of module glide_io.F90 there are many accessor subroutines, of the form glide_set_field(data, inarray) and glide_get_field(data,outarray).  Each subroutine uses four modules (glimmer_scales, glimmer_paramets, glimmer_physcon, glide_types) without an 'only' specification.  Is it taking the compiler a long time to bring in the other modules?  If so, we could e

[2022-04-21 17:14] billsacks commented on #53
It also seems possible that just having so many separate use statements could cause problems, whether or not they have an "only" clause. What about consolidating them so that they appear at the top of the module rather than being separately listed for each subroutine?

[2022-04-21 19:44] whlipscomb commented on #53
@billsacks, That's a good suggestion, and easy to implement.  I'll give it a try.